# Virtual Environment (venv) 종속성 패키지 목록
# 1. python -m pip install --upgrade pip
# 2. pip install -r requirements.txt

requests
beautifulsoup4
PyMuPDF
langchain
langchain-google-genai
langchain-community
faiss-cpu
python-dotenv
flashrank
onnxruntime>=1.17.0
numpy>=1.24.0,<2.0.0
langgraph
pytest
pytest-cov
sqlglot
streamlit
pandas
finance-datareader
tabulate
pymupdf4llm>=0.0.17
marker-pdf>=1.10.2
